body , html{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
  width: 100%;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
  }

    /* Create three equal columns that floats next to each other */
.column {
      float: left;
      width: 40%;
      height: 450px;
 }

div.row{
      margin: 0px;
      padding: 25px;
      height: 100%;
     }


.listing_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
}


img.column_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0px;
  width: 95%;
}

.column_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  width:  100%;
  height: 100%;
}


.column_card .row1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
  height: 50%;
  padding: 10px;
  padding-bottom: 0;
}

.column_card .row2 {
  height: 50%;
  padding: 10px;
  padding-bottom: 0;
}


.watchlist_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  margin: 10px;

}
   
  h1, h2, h3 {
      margin: 10px;
  }


  * {
   box-sizing: border-box;
  }

  
  
  @media screen and (max-width: 374px ) {
  
  .card {
    width: 100%;
  }
  
  }
  /* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
  @media screen and (max-width: 990px) and (min-width: 374px) {
  
  .card {
    width: 45%;
  }
  
  .card-body{
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  
  }
  
  .card-text{
    padding-top: 5px
  }
  
  h4.card-title{
    font-size:small;
    margin: 0 0;
    padding-top: 5px;

  }
  
  .sub-title{
    font-size:15px;
    margin: 0 0;
  
  }
  .card-text{
    margin-bottom:10px;
    font-size: 12px ;
  }
  
  }
  
  
  .sub-title {
  color: grey;
  }
  
  
  #map {
  
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
  }
  
  
  footer p {
  color: rgba(24, 24, 24, 0.555);
  position: relative; 
  width: 100%;
  bottom: 0; 
  top: 0;
  border-top: 1px solid #9b9b9b;
  padding: 10px;
  text-align: center;
  }
  
  
  .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #25588c;
    box-shadow: 1px 2px 4px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b9c5d1;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
label.requiredField {
  font-family: ui-sans-serif;
  font-size: 23px ;
}
.listing_footer {
  margin: 20px auto;
  height: 50px;
}

.addComment {
  margin: 5px auto;
}

.card_comment, .form_comment {
  margin: 10px auto;
  padding: 0;
}

.card_listing {
  color: #000;
}

.card-header {
  display: flex;
  line-height: 1;
}

.card_listing {
  color: #000;
}

.ls_foto {
  display: block;
  margin: 0 auto;
}

.card_img {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  max-height: 250px;
}

.listing_footer {
  margin: 100px auto;
}
.box {
  width: 200px;
  height: 50px;
  background-color: rgba(114, 218, 166, 0.5);
  color: rgb(31, 30, 30);
  padding: 5px 10px 0px 10px;
  border-radius: 8px;
  position: relative;
  margin: 0px;
  float: left;
}

.box.arrow-top {
  margin-top: 20px;
}

.box.arrow-top:after {
  content: " ";
  position: absolute;
  right: 30px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid   rgba(114, 218, 166, 0.5);
}

.box.arrow-right:after {
  content: " ";
  position: absolute;
  right: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: none;
  border-left: 15px solid  rgba(114, 218, 166, 0.5);
  border-bottom: 15px solid transparent;
}

/* Toggle this class - hide and show the popup */
.box .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}