{% extends "auctions/layout.html" %}
{% load cart_tag %}

{% block body %}

<div class="shopping-cart">
    <!-- Title -->
    <div class="title">
      Shopping Bag
    </div>
  {% for listing in user_items %}

    <!-- Product #1 -->
    <div class="item">
      <div class="buttons" id="column1">
        <span class="delete-btn"> 
              <button class="btn"><i class="fa fa-trash"></i></button>
        </span>
        
      </div>
   
      <div class="image" id="column2">
        <img src="{{ listing.image }}" alt="" style="width: 100px; height: 100px; margin: 0;"/>
      </div>
   
      <div class="description" id="column3">
        <span>{{ listing.title }}</span>
      </div>

      <div class="total-price" id="column4s">${{ listing.starting_bid }}</div>
    </div>
    {% empty %}
    <li>No item yet.</li>
    {% endfor %}

  </div>
{% endblock %}
