{% extends "auctions/layout.html" %}

{% block body %}
{% load static %}

{% if user.is_authenticated %}

<div style="padding: 40px 0 20px 0;">
    <div style="text-align: center;">
        <h2>Your WatchList</h2>
    </div>
    <section class="row" style="margin-left: 5px; justify-content: center;">
        {% for Listing in object_list %}
            <article class="watchlist_card">
                <a href="{% url 'listingpage' Listing.pk %}">
                     <img class="card-img-top" src="{{ Listing.image  }}" alt="Card image cap">
                </a>
                <div class="card-body" style="padding: 15px;">
                  <p class="card-title"><strong> {{ Listing.title }} </strong></p>
                  <p class="card-subtitle mb-2 "  style="font-size: small;"> Current Price:</strong> {{ Listing.starting_bid }}$</p>
                  <p class="card-subtitle mb-2 text-muted" style="font-size: smaller;"> Created {{ Listing.created_at }}</p>
                </div>
            </article>
            {% empty %}
    <h4>is empty!</h4>
    
    </section>    
</div>  
   

{% endfor %}
{% endif %}

{% endblock %}