{% extends "auctions/layout.html" %}

{% block body %}
{% load static %}

{% if user.is_authenticated %}

<div style="padding: 40px 0 20px 0;">
    <div style="text-align: center;">
    
    {% if message %}
    <div class="title">
      <h3>{{ message }}</h3>
    </div>
    {% else %}

      <h2>Your WatchList</h2>

    <section class="row" style="margin-left: 5px;">
        {% for Listing in user_items %}
            <article class="watchlist_card">
                <a href="{% url 'listingpage' Listing.pk %}">
                     <img class="card-img-top" src="{{ Listing.image  }}" alt="Card image cap">
                </a>
                <div class="card-body" style="padding: 15px;">
                  <p class="card-title"><strong> {{ Listing.title|truncatewords:10}} </strong></p>
                  {% if listing.Winner != None %}
                  <p class="card-subtitle mb-2 "  style="font-size: small;"> Current Price:</strong> ${{ Listing.starting_bid }}</p>
                  {% else %}
                  <p class="card-subtitle mb-2 "  style="font-size: small;"> Current Price:</strong> ${{ Listing.highest_bid }}</p>
                  {% endif %}
                  <p class="card-subtitle mb-2 text-muted" style="font-size: smaller;"> Created {{ Listing.created_at }}</p>
                </div>
            </article>
            {% endfor %}
    </section>  
</div>  
{% endif %}
{% endif %}
{% endblock %}