{% extends "auctions/layout.html" %}

{% block body %}
{% load static %}

{% if user.is_authenticated %}

<div style="padding: 40px 0 20px 0;">
    <div style="text-align: center; justify-content: center;">
    
    {% if message %}
    <div class="title">
      <h3>{{ message }}</h3>
    </div>
    {% else %}

    <h2>Congrats! you've won those items</h2>

    <section class="row" style="margin-left: 5px;">
        {% for Listing in user_winlist %}
            <article class="watchlist_card">
                <a href="{% url 'listingpage' Listing.pk %}">
                     <img class="card-img-top" src="{{ Listing.image }}" alt="Card image cap">
                </a>
                <div class="card-body" style="padding: 15px;">
                  <p class="card-title"><strong> {{ Listing.title }} </strong></p>
                  <p class="card-subtitle mb-2 "  style="font-size: small;"> Price:</strong> {{ Listing.highest_bid }}$</p>
                  <div>
                    <a href="{% url 'cart_add' Listing.pk %}" type="submit" role="button" class="btn btn-primary">Add to cart</a>
                  </div>
            </div>
            </article>
            {% endfor %}
    </section>  
</div>  
{% endif %}
{% endif %}
{% endblock %}